<app-places-container title="Your Favorite Places">
 <!-- @if(isFecthing()){
    <p class="fallback-text"> Content Loading......</p>
  } -->
  <div *ngIf="(isFecthing() && !error())">
    <p class="fallback-text"> Content Loading......</p>
  </div>

  <p class="fallback-text" *ngIf="error()">{{error()}}</p>

  @if (places()) {
   <app-places [places]="places()!" />
  } @else if (places()?.length === 0) {
   <p class="fallback-text">Unfortunately, no places could be found.</p>
  }
</app-places-container>
