<app-header></app-header>
<app-image></app-image>

<main>
  <ul id="user">
    @for(userLoop of user; track userLoop.id){

    <!-- <li *ngFor="let userLoop of user "> -->
      <li>
      <app-user (select)="onUserSelect($event)" [users]="userLoop" /> <br>
    </li> 

    }
  </ul>
   @if (selectUser) {
    <app-tasks [name]="selectUser.name" [avatar]="imagePath" />
  }
  @else {
    <p id="fallback">Select a user to their task!</p>
  } 
  <!-- <app-tasks [name]="selectUser ? selectUser.name : ''" [avatar]="imagePath" /> --> -->

  <!-- <app-tasks *ngIf="selectUser; else fallback" [name]="selectUser!.name" [avatar]="imagePath" />
  <ng-template #fallback>
    <p id="fallback">Select a user to their task!</p>
  </ng-template> -->

</main>
